<!DOCTYPE html>

<h1>Breadth first search</h1>

<figure id="diagram1">
  <svg :view-box.camel="`0 0 ${getWidth} ${getHeight}`">
    <rect v-for="loc in locations" :class="'cell ' + classFor(loc)" :x="loc.x" :y="loc.y" :width="1" :height="1"
      @click="toggleWall(loc)" />
    <drag-handle v-model="center" color="yellow" :size="0.5" />
    <drag-handle v-model="goal" color="red" :size="0.5" />
  </svg>
  <p>
    Time: <input type=range min=0 :max="getWidth * getHeight" v-model.number="stepLimit" />
  </p>
</figure>

<p>
  Click to toggle walls.
</p>

<script type="module" src="./assets/js/breadthfirstsearch.js"></script>

<style>
  .cell {
    fill: hsl(60, 10%, 90%);
    stroke: hsl(60, 0%, 100%);
    stroke-width: 0.02px;
  }

  .wall {
    fill: hsl(30, 20%, 40%);
    stroke: hsl(30, 50%, 40%);
  }

  .explored {
    fill: hsl(45, 20%, 70%);
  }

  .frontier {
    fill: hsl(220, 50%, 70%);
  }
</style>