# visual studio project file
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# build output
build/
dist/

# symlinks
public/modules
src/modules
*.symlink

# intermediate files
.cache/
.astro/

# Dependency directories
node_modules/

# development tools
emsdk/

# macOS
.DS_Store