{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "vueIndentScriptAndStyle": true,
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}