---
import Layout from "../layouts/Page.astro";
import BreadthFirstSearchComponent from "../components/BreadthFirstSearch.vue";
---

<Layout>
	<h1>Breadth First Search</h1>
	<BreadthFirstSearchComponent client:load />
</Layout>
