---
import Layout from "../layouts/Page.astro";
import BreadthFirstSearch from "../components/BreadthFirstSearch.vue";
---

<Layout>
	<h1>Breadth First Search</h1>
	<BreadthFirstSearch client:only="react" />
</Layout>
