---
import Layout from "../layouts/Page.astro";
import BreadthFirstSearchComponent from "../components/BreadthFirstSearch.vue";
---

<Layout>
	<h1 class="display-4">Breadth First Search</h1>
	<div class="highlight"></div>
	<BreadthFirstSearchComponent client:load />
</Layout>
