---
import Layout from "../layouts/Page.astro";
import ChessComponent from "../demos/Chess.vue";
---

<Layout>
    <h1 class="display-4">Chess</h1>
    <div class="highlight"></div>

    <p>It's chess, baby !</p>
    <ChessComponent client:load />
</Layout>
