---
import Layout from '@/layouts/Page.astro';
import Card from '@/components/astro/Card.astro';

import {
	ChessLink,
	DungeonGeneratorLink,
	PathfindingLink,
	JohnConwayLifeLink,
	MazeGeneratorLink,
	MinesweeperLink,
	TicTacToeLink,
} from '@/consts';

const AstroLink = 'https://astro.build/';
const VueJSLink = 'https://vuejs.org/';
const WebAssemblyLink = 'https://webassembly.org/';

const Demos = [
  	{
		title: 'Maze Generator',
		href: MazeGeneratorLink(),
		description: 'Various maze generation algorithms.',
	},
	{
		title: 'Chess',
		href: ChessLink(),
		description: 'A chess engine.',
	},
	{
		title: 'Dungeon Generator',
		href: DungeonGeneratorLink(),
		description: 'Zelda-like dungeon generator inspired by the Binding of Isaac.',
	},
	{
		title: 'John Conway\'s Life',
		href: JohnConwayLifeLink(),
		description: 'Cellular automata.',
	},
	{
		title: 'Minesweeper',
		href: MinesweeperLink(),
		description: 'Classic Minesweeper.',
	},
	{
		title: 'TicTacToe Bot',
		href: TicTacToeLink(),
		description: 'An implementation of the MiniMax algorithm.',
	},
	{
		title: 'Pathfinding',
		href: PathfindingLink(),
		description: 'Various pathfinding algorithms.',
	},
];
---

<Layout>
	<h1>
		A collection of small interative demos.
	</h1>
	<p>
		These demos are built using C++ compiled to <a href={WebAssemblyLink}>WebAssembly</a>,
		with <a href={VueJSLink}>VueJS</a> for interfacing, and statically-generated
		using <a href={AstroLink}>Astro</a>.
	</p>

	<div class="vstack gap-3">
		{Demos.map((course) => <Card {...course} />)}
	</div>
</Layout>