---
import Layout from "../layouts/Page.astro";
import {
	BreadthFirstSearchLink,
	JohnConwayLifeLink,
	MinesweeperLink,
	TicTacToeLink,
} from "../consts";
---

<Layout>
	<h1>Hey! 👋</h1>
	<p class="lead">
		Here's a collection of projects, assignments, and examples I've created as a
		programming teacher. These weren't originally made for the web, so I've been
		experimenting with new tech, inspired by Amit Patel's Redblobgames.
	</p>
	<p class="lead">
		It's a work in progress — adapting them into interactive online versions
		takes time!
	</p>

	<ul class="list">
		<li><a href={JohnConwayLifeLink()}>John Conway's Life</a></li>
		<li><a href={MinesweeperLink()}>Minesweeper</a></li>
		<li><a href={TicTacToeLink()}>TicTacToe Bot (MiniMax)</a></li>
		<li><a href={BreadthFirstSearchLink()}>Breadth First Search</a></li>
	</ul>
</Layout>

<style></style>
