---
import Layout from "../layouts/Page.astro";
import {
	MinesweeperLink,
	TicTacToeLink,
	BreadthFirstSearchLink,
} from "../consts";
---

<Layout>
	<h1>Interactive Demos</h1>
	<ul class="list">
		<li><a href={MinesweeperLink()}>Minesweeper</a></li>
		<li><a href={TicTacToeLink()}>TicTacToe Bot (MiniMax)</a></li>
		<li><a href={BreadthFirstSearchLink()}>Breadth First Search</a></li>
	</ul>
</Layout>

<style></style>
