---
import Layout from "../layouts/Page.astro";
import JohnConwayLifeComponent from "../components/JohnConwayLife.vue";
---

<Layout>
    <h1 class="display-4">John Conway's Life</h1>
    <div class="highlight"></div>
    <p>
        The Game of Life, also known as Conway's Game of Life or simply Life, is
        a cellular automaton devised by the British mathematician John Horton
        Conway in 1970. It is a zero-player game, meaning that its evolution is
        determined by its initial state, requiring no further input. One
        interacts with the Game of Life by creating an initial configuration and
        observing how it evolves.
    </p>
    <JohnConwayLifeComponent client:load />
</Layout>
