---
import Layout from '@/layouts/Page.astro';
import MazeGeneratorComponent from '@/demos/MazeGenerator.vue';
---

<Layout>
	<h1 class="display-4">Maze Generators</h1>
	<div class="highlight"></div>
	<MazeGeneratorComponent client:load />
</Layout>
