---
import Layout from "../layouts/Page.astro";
import MinesweeperComponent from "../components/Minesweeper.vue";
---

<Layout>
  <h1 class="display-4">Minesweeper</h1>
  <div class="highlight"></div>

  <p>
    Minesweeper is a logic puzzle video game genre generally played on personal
    computers. The game features a grid of clickable tiles, with hidden mines
    scattered throughout the board. The objective is to clear the board without
    detonating anyqweqwewqe mines, with help from clues about the number of
    neighboring mines in each field.
  </p>
  <MinesweeperComponent client:load />
</Layout>
