---
import Layout from "../layouts/Page.astro";
import TicTacToeComponent from "../demos/TicTacToe.vue";
---

<Layout>
  <h1 class="display-4">Minimax TicTacToe</h1>
  <div class="highlight"></div>
  <p>
    The Minimax algorithm is a decision-making strategy used in Tic-Tac-Toe AI
    to find the optimal move. It recursively explores all possible game states,
    assigning scores based on win/loss conditions. The AI maximizes its own
    score while assuming the opponent plays optimally to minimize it. By
    evaluating each move’s outcome, Minimax ensures the AI always selects the
    best possible move, making it nearly unbeatable.
  </p>
  <TicTacToeComponent client:load />
</Layout>
