---
import Footer from '@/components/astro/Footer.astro';
import Meta from '@/components/astro/Meta.astro';
---

<html lang="en" data-bs-theme="dark">
	<head>
		<Meta />
	</head>

	<body class="container" id="top">
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style></style>
