---
import { PROJECT_NAME } from '@/consts';

import Footer from '@mathewmariani/sugar/astro/components/Footer.astro';
import Header from '@mathewmariani/sugar/astro/components/Header.astro';

import Meta from '@/components/astro/Meta.astro';

import 'bootstrap/dist/css/bootstrap.min.css';
import 'bootstrap-icons/font/bootstrap-icons.css';

import '@mathewmariani/sugar/css/sugar.css';

const links = [{ href: '/projects', label: 'Other Projects' }];
---

<html lang="en">
	<head>
		<Meta />
	</head>

	<body>
		<Header name={PROJECT_NAME} />
		<main>
			<div class="container">
				<slot />
			</div>
		</main>
		<Footer links={links} />

		<script>
			import '@mathewmariani/sugar/js/sugar.js';
		</script>
	</body>
</html>
