---
import Footer from '@/components/astro/Footer.astro';
import Meta from '@/components/astro/Meta.astro';
import Header from '@/components/astro/Header.astro';

import 'bootstrap/dist/css/bootstrap.min.css';
import '@mathewmariani/sugar/css/sugar.css';
---

<html lang="en">
	<head>
		<Meta />
	</head>

	<body>
		<Header />
		<main>
			<div class="container">
				<slot />
			</div>
		</main>
		<Footer />
	</body>
</html>